.button {

    padding: 5px;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    margin-bottom: 5px;

}

.primary {
    background-color: green;
}

.danger {
    background-color: rgb(243, 8, 8);
}